/* src/components/ThemeSwitcher.css */
body.light {
  background-color: #f8f9fa;
  color: #343a40;
}

body.dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.navbar {
  background-color: lightgray;
}

.theme-switcher {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
}
